

.game-screen__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 70px 0;
}

.versus-title {
  display: flex;
  gap: 2rem;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.result-screen__title {
  color: #16c359;
}

@media (max-width: 480px) {
  .game-screen {
    margin-top: 60px;
  }
  .game-screen__controls {
    flex-direction: column;
    gap: 1rem;
  }
  .versus-title {
    gap: 1rem;
  }
}