button {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
  border: 2px solid transparent;
}

button:focus, button:hover {
  outline: none;
  box-shadow: 0 0 0 2px;
}
button:active {
  transform: scale(0.95);
}
button:disabled {
  cursor: not-allowed;
  box-shadow: none;
}
button:disabled:hover, 
button:disabled:focus, 
button:disabled:active {
  box-shadow: none;
  transform: none;
}

