.bet {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5em;
  width: 10rem;
  height: 7rem;
  justify-content: center;
  border-radius: 8px;
}

.bet span.bet-amount {
  background-color: white;
  border: 3px solid blue;
  color: black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rock {
  background-color: #211f4f;
  border-color: #304371;
  color: #2680ea;
}

.paper {
  background-color: #1a381d;
  border-color: #16c359;
  color: #16b553;
}

.scissors {
  background-color: #50091e;
  border-color: #731c31;
  color: #e31542;
}

@media (max-width: 480px) {
  .rock, .paper, .scissors {
    width: 100%;
  }
}
